
.Name {
  font-color: rgb(360, 360, 360);
  font-size: 56px;
  font-weight: bold;
  color: rgb(171, 44, 41);
}

.Purpose {
  border-style: solid;
  border-radius: 25%;
  border-width: 5px;
  border-radius: 2px;
  background-color: rgb(198, 170, 118);
  text-align: center;
  font-style: italic;
  font-size: 25px;
  height: 100px;
  padding: 10px;
  margin: auto;
}

.Purpose h1 {
  color: white;
}

.logo {
  float: left;
  height: 300px;
  width: 500px;
}
.logosection {
  float: right !important;
  padding: 5px;
  border-style: dotted;
  border-width: 2px;
  text-align: left;
  font-size: 12px;
  height:300px;
  overflow: auto;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
div.gallery img {
  width: 100%;
  height: auto;
}

h1{
text-align: center;
font: Arial Bold;
}

p{
color: rgb(0, 59, 92);
font: Arial Regular;
font-size: 20px;
}
