
div.Name {
  font-color: rgb(360, 360, 360);
  font-size: 56px;
  font-weight: bold;
  color: rgb(171, 44, 41);
}

div.Purpose {
  border-style: solid;
  border-radius: 25%;
  border-width: 5px;
  border-radius: 2px;
  background-color: rgb(198, 170, 118);
  text-align: center;
  font-style: italic;
  font-size: 25px;
  height: 100px;
  padding: 10px;
  margin: auto;
}

div.Purpose h1 {
  color: white;
}

div.left {
  float: left !important;
}
div.left p {
  border: dotted;
}

div.right {
  float: right !important;
}
div.right p {
  border: dotted;
}


div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
}
div.gallery img {
  width: 100%;
  height: auto;
}

h1{
text-align: center;
font: Arial Bold;
}

p{
color: rgb(0, 59, 92);
font: Arial Regular;
font-size: 20px;
}
